:root {
  --pink: #E8CABB;
  --blue: #203049;
  --white: #EEEEEE;
  --white-100: #f4ece3;
  --white-off: #eee6dd;
  --black: #121212;
  --black-100: #2e3436;
  --grey: #6f6f6f;
  --grey-light: #CFCFCF;

  --border-radius: 5px;
  --border-radius-top: 5px 5px 0 0;
  --border-radius-bot: 0 0 5px 5px;

  --ff-main: 'Josefin Sans', sans-serif;
  --ff-headers: 'Cardo', serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  font-family: var(--ff-main);
  color: var(--black-100);
  background-color: var(--white-off);
  background-image: url("../assets/img/texturedBG.png");
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover:not(.btn):not(.section-btn):not(.icon-link) {
  text-decoration: underline;
}

img {
  width: 100%;
  object-fit: cover;
}

/* utility class */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  place-items: center;
  gap: 1rem;
}

.section-title {
  font-size: 2rem;
}

.sub-heading {
  font-size: 1.5rem;
}

.btn, .section-btn {
  padding: 0.1rem 1rem;
  color: var(--blue);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.section-btn {
  padding: 0.2rem 1rem;
  border: 2px solid var(--blue);
  background-color: transparent;
}

.btn:hover, .section-btn:hover {
  color: var(--white);
  background-color: var(--blue);
}
