.skills {
  padding-block: 2rem 13rem;
  color: var(--blue);
  background-color: var(--brown-light);
}

.skills .section-title {
  text-align: center;
}

.skills__content {
  display: flex;
  gap: 2rem;

  width: max-content;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  font-size: 2rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--blue);
}