.about {
  padding: 2rem 3rem;
  font-size: 1.2rem;
  background-color: var(--grey-light);
}

.about-content {
  display: grid;
  place-items: center;
  gap: 2rem;

  padding-block: 2rem;
}

.about-content img {
  max-width: 200px;
  aspect-ratio: 1 / 1.2;
  transform: rotate(-2deg);
}

.about-content > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-content > div p {
  text-indent: 1.5rem;
  position: relative;
}

.about-content > div p:first-child::before {
  content: open-quote;
  position: absolute;
  inset: -2rem 0 0 -1.5rem;
  font-size: 5rem;
}

@media (min-width: 600px) {
  .about .section-title {
    text-align: right;
    margin-inline-end: 1rem;
  }

  .about-content > img, div {
    grid-row: 1;
  }
}